.button {
    padding: .5rem;
    min-width: 75px;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms ease;
    font-size: .9rem;

    &:active {
        scale: .9;
    }
}

.PRIMARY {
    background-color: $accent;
    color: $white;

    &:hover {
        background-color: $accent-hover;
    }
}

.SECONDARY {
    background-color: $secondary;
    color: $white;

    &:hover {
        background-color: $secondary-hover;
    }
}

.DANGER {
    background-color: rgb(245, 26, 26);
    color: $white;

    &:hover {
        background-color: rgb(173, 27, 27);
    }
}